label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.bi {
  color: gold;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.5s ease;
}

input[type="text"]:focus {
  border-color: #00ff40;
  outline: none;
}

.last-winners {
  border: 1px solid #a2a1a1;
  border-radius: 5px;
  padding: 10px;
  background-color: grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.last-winners h2 {
  font-size: 20px;
  font-weight: bold;
  color: #1e1e1e;
  margin-bottom: 10px;
  text-align: center;
}

.last-winners table {
  width: 100%;
  border-collapse: collapse;
}

.last-winners th,
.last-winners td {
  padding: 8px;
  text-align: center;
}

.last-winners th {
  background-color: #4caf50;
  color: #fff;
}
