html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  background-color: grey;
  padding: 30px;
  text-align: center;
  color: white;
}

.container {
  margin: 0 20%;
}
